NET "Phi2" TNM_NET = Phi2;
TIMESPEC TS_Phi2 = PERIOD "Phi2" 559 ns LOW 50%;
#Created by Constraints Editor (xc95144xl-tq100-10) - 2012/02/28
INST "Data<0>" TNM = DataBus;
INST "Data<1>" TNM = DataBus;
INST "Data<2>" TNM = DataBus;
INST "Data<3>" TNM = DataBus;
INST "Data<4>" TNM = DataBus;
INST "Data<5>" TNM = DataBus;
INST "Data<6>" TNM = DataBus;
INST "Data<7>" TNM = DataBus;
#Created by Constraints Editor (xc95144xl-tq100-10) - 2012/02/28
INST "SysAddr<0>" TNM = AddressBus;
INST "SysAddr<1>" TNM = AddressBus;
INST "SysAddr<2>" TNM = AddressBus;
INST "SysAddr<3>" TNM = AddressBus;
INST "SysAddr<4>" TNM = AddressBus;
INST "SysAddr<5>" TNM = AddressBus;
INST "SysAddr<6>" TNM = AddressBus;
INST "SysAddr<7>" TNM = AddressBus;
INST "SysAddr<8>" TNM = AddressBus;
INST "SysAddr<9>" TNM = AddressBus;
INST "SysAddr<10>" TNM = AddressBus;
INST "SysAddr<11>" TNM = AddressBus;
INST "SysAddr<12>" TNM = AddressBus;
INST "SysAddr<13>" TNM = AddressBus;
INST "SysAddr<14>" TNM = AddressBus;
INST "SysAddr<15>" TNM = AddressBus;
INST "DeviceAddr<0>" TNM = DeviceAddressBus;
INST "DeviceAddr<1>" TNM = DeviceAddressBus;
INST "DeviceAddr<2>" TNM = DeviceAddressBus;
INST "DeviceAddr<3>" TNM = DeviceAddressBus;
INST "DeviceAddr<4>" TNM = DeviceAddressBus;
INST "DeviceAddr<5>" TNM = DeviceAddressBus;
INST "DeviceAddr<6>" TNM = DeviceAddressBus;
INST "DeviceAddr<7>" TNM = DeviceAddressBus;
INST "DeviceAddr<8>" TNM = DeviceAddressBus;
INST "DeviceAddr<9>" TNM = DeviceAddressBus;
INST "DeviceCS" TNM = DeviceControl;
INST "DeviceInt" TNM = DeviceControl;
INST "DeviceRd" TNM = DeviceControl;
INST "DeviceWr" TNM = DeviceControl;
INST "Phi2" TNM = SystemControl;
INST "DmaReqOut" TNM = SystemControl;
INST "Dx" TNM = SystemControl;
INST "EXTSEL" TNM = SystemControl;
INST "Halt" TNM = SystemControl;
INST "IRQ" TNM = SystemControl;
INST "MPD" TNM = SystemControl;
INST "RdWr" TNM = SystemControl;
INST "Reset" TNM = SystemControl;
INST "RamAddrOut<8>" TNM = RamAddressBus;
INST "RamAddrOut<9>" TNM = RamAddressBus;
INST "RamAddrOut<10>" TNM = RamAddressBus;
INST "RamAddrOut<11>" TNM = RamAddressBus;
INST "RamAddrOut<12>" TNM = RamAddressBus;
INST "RamAddrOut<13>" TNM = RamAddressBus;
INST "RomAddrOut<10>" TNM = RomAddressBus;
INST "RomAddrOut<11>" TNM = RomAddressBus;
INST "RomAddrOut<12>" TNM = RomAddressBus;
INST "RomAddrOut<13>" TNM = RomAddressBus;
INST "RomAddrOut<14>" TNM = RomAddressBus;
INST "RomAddrOut<15>" TNM = RomAddressBus;
INST "SpiCK" TNM = SPI;
INST "SpiCS" TNM = SPI;
INST "SpiDI" TNM = SPI;
INST "SpiDO" TNM = SPI;
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "RamAddrOut<10>"  LOC = "P8"  ;
NET "RamAddrOut<11>"  LOC = "P9"  ;
NET "RamAddrOut<8>"  LOC = "P6"  ;
NET "RamAddrOut<9>"  LOC = "P7"  ;
NET "SysAddr<0>"  LOC = "P65"  ;
NET "SysAddr<10>"  LOC = "P77"  ;
NET "SysAddr<11>"  LOC = "P78"  ;
NET "SysAddr<12>"  LOC = "P79"  ;
NET "SysAddr<13>"  LOC = "P80"  ;
NET "SysAddr<14>"  LOC = "P81"  ;
NET "SysAddr<15>"  LOC = "P82"  ;
NET "SysAddr<1>"  LOC = "P66"  ;
NET "SysAddr<2>"  LOC = "P67"  ;
NET "SysAddr<3>"  LOC = "P68"  ;
NET "SysAddr<4>"  LOC = "P70"  ;
NET "SysAddr<5>"  LOC = "P71"  ;
NET "SysAddr<6>"  LOC = "P72"  ;
NET "SysAddr<7>"  LOC = "P73"  ;
NET "SysAddr<8>"  LOC = "P74"  ;
NET "SysAddr<9>"  LOC = "P76"  ;

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
